/*   Variable List
-----------------------------------*/

// Colors
$primaryColor: #715fd5 ;
$secondaryColor: #FFB000;
$blackColor: #333;
$whiteColor:#fff;
$offwhiteColor:#c7c6c6; 
$redColor:#FF4A4A;
$greenColor: #19891f;
$yellowColor: #F5EA5A;
$textColor: rgb(113, 112, 112);

// Fonts Family
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-3: 'Frank Ruhl Libre', serif;
$font-4: 'Noto Serif', serif;

// Border-Color
$primary-border: #d5d5d5;
$secondary-border: #5e58583b;

// background 
$primary-background: #bebbbbd4;

// Box-Shadow 
$primaryBoxShadow: 1px 1.332px 3px 1px rgba(163, 161, 161, 0.221);
$secondary-boxShadow: 1px 1.332px 4px 2px rgb(163 161 161 / 30%);


 